---
---

.page-header{
    text-align: left;
}

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #233;
$header-bg-color: #bbdefb;
$header-bg-color-secondary: #c5e1a5;

// Text
$section-headings-color: steelblue;
$body-text-color: #454646;
$body-link-color: #0d47a1;
$blockquote-text-color: #4b5052;

// Code
$code-bg-color: #e3f2fd;
$code-text-color: #0d47a1;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";